@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #141313;
  font-family: 'Roboto', Verdana, Tahoma, sans-serif;
}

/* Header */

header.cabecalho {
  width: 100%;
  padding: 20px;
  display: flex;
  background-color: #1E1B1B;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
}

header.cabecalho .navegacao {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

header.cabecalho .navegacao ul{
  min-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.cabecalho .navegacao li {
  list-style: none;
}

header.cabecalho .navegacao a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  margin: 0 30px;
  padding: 8px 0;
  color: #DDDDDD;
  font-family: 'Roboto bold 700';
  font-weight: bold;
  letter-spacing: 1px;
}

header.cabecalho .navegacao a:hover {
  color: #ffffff;
}

header.cabecalho .navegacao a span {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #FFE60028, #FFE600);
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.3s ease-in-out;
}

header.cabecalho .navegacao a:hover span {
  transform: scaleX(1);
  transition: 0.5s ease-in-out;
}


/* Inicio */

section.inicio {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

section.inicio .box-inicio {
  width: 80%;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.inicio .box-inicio .box-foto {
  width: 250px;
  height: 290px;
  border: #FFE600;
  border-style: solid;
  border-radius: 20px;
  position: relative;
}

section.inicio .box-inicio .foto-perfil {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  top: -10px;
  left: 10px;
}

section.inicio .box-paragrafoPerfil {
  width: 60%;
  height: 90%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.inicio .box-paragrafoPerfil hr {
  width: 50%;
  height: 5px;
  background-color: #FFE600;
  border: none;
}

section.inicio  .box-paragrafoPerfil .texto-perfil h1 {
  text-align: start;
  color: #FFE600;
  font-size: 36px;
}

section.inicio  .box-paragrafoPerfil .texto-perfil p{
  color: #ffffff;
  font-size: 22px;
  text-align: start;
  letter-spacing: 1px;
}

/* Sobre */

section.sobre {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.sobre .box-sobre {
  width: 60%;
  height: 50vh;
  position: relative;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.sobre .box-sobre::after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  border-top-style: solid;
  border-right-style: solid;
  border-color: #FFE600;
}

section.sobre .box-sobre::before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: calc(100% - 20px);
  right: 0;
  border-bottom-style: solid;
  border-right-style: solid;
  border-color: #FFE600;
}

section.sobre .borda-superior {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border-top-style: solid;
  border-left-style: solid;
  border-color: #FFE600;
}
section.sobre .borda-inferior {
  width: 20px;
  height: 20px;
  position: absolute;
  top: calc(100% - 20px);
  left: 0px;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: #FFE600;
}

section.sobre .box-paragrafoSobre {
  width: 80%;
}

section.sobre .box-sobre h1 {
  color: #FFE600;
  font-size: 36px;
  font-family: 'Roboto bold 700', Verdana, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

section.sobre .box-sobre p {
  color: #ffffff;
  padding: 10px;
  text-align: start;
}

section.sobre .box-sobre .btn-curriculo {
  width: 150px;
  padding: 10px;
  border-radius: 20px;
  margin-top: 40px;
  background-color: #ffe6005d;
  color: #ffffff;
  font-weight: 900;
  font-size: 16px;
  border: none;
}

section.sobre .box-sobre .btn-curriculo:hover {
  background-color: #ffe6008c;
  cursor: pointer;
}


 /* Projetos */

 section.projetos {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 section.projetos .titulo {
   font-family: 'Roboto bold 700';
   font-size: 32px;
   color: #FFE600;
   margin-top: 60px;
   margin-bottom: 40px;
 }

 section.projetos .box-projetos {
   width: 50%;
   height: 50vh;
   background-color: green;
 }

 /* Habilidades */

 section.habilidades {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 section.habilidades .titulo {
  font-family: 'Roboto bold 700';
  font-size: 32px;
  color: #FFE600;
  margin-top: 80px;
  margin-bottom: 40px;
 }

 section.habilidades .box-habilidades {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 }

 section.habilidades .box-tecnologia {
   width: 25%;
   height: 30vh;
   margin: 8px;
   border-color: #FFE600;
   border-style: solid;
   border-width: 1px;
 }

 section.habilidades .box-tecnologia i {
   font-size: 50px;
   width: 100%;
   padding: 8px;
 }

 section.habilidades .box-tecnologia h3 {
   padding: 8px;
   color: #ffffff;
 }

 section.habilidades .box-tecnologia p {
   color: #ffffff;
   padding: 8px;
   font-size: 14px;
   text-align: start;
 }

 section.habilidades .box-tecnologia .fa-html5 {
  color: #FA9703;
  text-align: center;
}

 section.habilidades .box-tecnologia .fa-css3-alt {
  color: #03A1FA;
  text-align: center;
}

 section.habilidades .box-tecnologia .fa-js {
  color: #FFE600;
  text-align: center;
}

 section.habilidades .box-tecnologia .fa-react {
  color: #23D675;
  text-align: center;
}

 section.habilidades .box-tecnologia .fa-git-alt {
  color: #CA1D1D;
  text-align: center;
}

 section.habilidades .box-tecnologia .fa-github {
  color: #ffffff;
  text-align: center;
}


 /* Contato */

 section.contato {
   width: 100%;
   height: 60vh;
 }

 section.contato .titulo {
  font-family: 'Roboto bold 700';
  font-size: 32px;
  color: #FFE600;
  text-align: center;
  margin-top: 40px;
 }

 section.contato .box-contato {
   width: 80%;
   height: 40vh;
   display: flex;
   justify-content: space-around;
   align-items: center;
   top: 0;
   left: 0;
   margin: auto;
 }

 section.contato .box-contato .telefone {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 section.contato .box-contato .telefone i, p{
   color: #ffffff;
   padding: 8px;
   text-align: center;
 }

 section.contato i {
   font-size: 50px;
 }

 section.contato .fa-whatsapp-square {
   color: #23D675;
 }

 section.contato .fa-linkedin {
   color: #03A1FA;
 }

 section.contato .fa-github-square {
   color: #ffffff;
 }

 /* footer */

 footer{
   width: 100%;
   padding: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #1E1B1B;
 }

 footer p {
   font-style: italic;
   font-weight: bold;
   color: #FFE600;
 }