@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #141313;
  font-family: 'Roboto', Verdana, Tahoma, sans-serif;
}

/* Header */

header.cabecalho {
  width: 100%;
  height: 80px;
  display: flex;
  background-color: #1e1b1b;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
}

header.cabecalho .logo {
  margin: 0 30px;
}

header.cabecalho .navegacao ul{
  display: flex;
}

header.cabecalho .navegacao li {
  list-style: none;
}

header.cabecalho .navegacao a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  margin: 0 30px;
  padding: 8px 0;
  color: #DDDDDD;
  font-family: 'Roboto bold 700';
  font-weight: bold;
  letter-spacing: 1px;
}

header.cabecalho .navegacao a:hover {
  color: #ffffff;
}

header.cabecalho .navegacao a span {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #FFE60028, #FFE600);
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.3s ease-in-out;
}

header.cabecalho .navegacao a:hover span {
  transform: scaleX(1);
  transition: 0.5s ease-in-out;
}

@media(max-width: 768px) {
  header.cabecalho .navegacao ul {
    display: none;
  }

  header.cabecalho .navegacao ul.active {
    display: block;
    background-color: rgba(0, 0, 0, 0.95);
    position: absolute;
    top: 10px;
    right: 0;
    width: 50%;
    height: 90vh;
    border-radius: 5px;
  }

  header.cabecalho .navegacao ul.active li {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
 
  header.cabecalho .toggle {
    position: absolute;
    right: 25px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  header.cabecalho .toggle.active {
    background-color: #72714350;
    border-radius: 50%;
    z-index: 9;
  }
  
  header.cabecalho .toggle::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    box-shadow: 0 10px 0 #ffffff;
    transition: 0.3s ease-in-out;
  }

  header.cabecalho .toggle.active::after {
    background-color: transparent;
    transform: rotate(40deg);
    width: 80%;
    top: 6px;
    left: 10px;
    transition: 0.3s ease-in-out;
  }
  
  header.cabecalho .toggle::before {
    content: '';
    position: absolute;
    top: 20px;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: 0.3s ease-in-out;
  }

  header.cabecalho .toggle.active::before {
    transition: 0.3s ease-in-out;
    transform: rotate(-40deg);
    width: 80%;
    top: 14px;
    left: 3px;
  }

}

/* Inicio */

section.inicio {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.inicio .box-inicio {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
}

section.inicio .box-inicio .box-foto {
  width: 250px;
  height: 290px;
  border: #FFE600;
  border-style: solid;
  border-radius: 20px;
  position: relative;
}

section.inicio .box-inicio .foto-perfil {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  top: -10px;
  left: 10px;
}

section.inicio .box-paragrafoPerfil {
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.inicio .box-paragrafoPerfil hr {
  width: 50%;
  height: 2px;
  background-color: #FFE600;
  border: none;
}

section.inicio  .box-paragrafoPerfil .texto-perfil h1 {
  text-align: start;
  color: #FFE600;
  font-size: 36px;
}

section.inicio  .box-paragrafoPerfil .texto-perfil p, strong{
  color: #ffffff;
  font-size: 16px;
  text-align: start;
  letter-spacing: 1px;
}

section.inicio .box-paragrafoPerfil .curriculo {
  text-decoration: none;
  width: 150px;
  padding: 8px;
  background-color: #ffe6005e;
  border-radius: 20px;
  text-align: center;
  color: #ffffff;
  margin-top: 80px;
}

@media(max-width: 768px) {

  section.inicio .box-inicio {
    width: 100%;
    height: 70%;
    flex-direction: column;
  }

  section.inicio .box-inicio .box-foto {
    width: 200px;
    height: 200px;
  }  
  
  section.inicio .box-paragrafoPerfil {
    width: 90%;
    height: 60%;
    display: flex;
    margin-top: 40px;
  }
  
  section.inicio .box-paragrafoPerfil .curriculo {
    margin-top: 30px;
  }

  section.inicio  .box-paragrafoPerfil .texto-perfil h1 {
    font-size: 28px;
  }
      
}

 /* Projetos */

 section.projetos {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 section.projetos .titulo {
   font-family: 'Roboto bold 700';
   font-size: 32px;
   color: #FFE600;
   margin-top: 60px;
   margin-bottom: 40px;
 }

 section.projetos .box-projetos {
   min-width: 600px;
   height: 60vh;
   position: relative;
 }

 section.projetos .box-projetos .projeto {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}

section.projetos .box-projetos .projeto .slideInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background-color: rgba(0, 0, 0, 0.95);
  transition: 0.5s ease-in-out;
}

section.projetos .box-projetos .projeto .slideInformation span {
  color: #FFE600;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 10px;
}

section.projetos .box-projetos .projeto .slideInformation h1 {
  color: #ffffff;
  margin-bottom: 50px;
}

section.projetos .box-projetos .projeto .slideInformation a {
  text-decoration: none;
  width: 150px;
  padding: 8px;
  background-color: #ffe600bd;
  border-radius: 20px;
  text-align: center;
  color: #ffffff;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }

}

section.projetos .box-projetos .projeto .slideInformation a:hover {
  background-color: #ffe6005e;
}

section.projetos .box-projetos:hover .projeto .slideInformation {
  transform: scaleX(1);
  transition: 0.5s ease-in-out;
}

section.projetos .box-projetos.active .projeto .slideInformation span,
section.projetos .box-projetos.active .projeto .slideInformation h1,
section.projetos .box-projetos.active .projeto .slideInformation a{
  animation: fadeIn 5s linear;
}

section.projetos .box-projetos .projeto-1 {
  background-image: url(../image/projetoAgencia.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  position: relative; 
}

section.projetos .box-projetos .projeto-2 {
  background-image: url(../image/projetoCafeteria.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  position: relative; 
}


section.projetos .box-projetos .projeto-3 {
  background-image: url(../image/projetoDevQuest.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  position: relative; 
}

section.projetos .box-projetos .projeto-4 {
  background-image: url(../image/projetoFrontendMentor.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  position: relative; 
}

section.projetos .box-projetos .projeto-5 {
  background-image: url(../image/emBreve.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  position: relative; 
}

section.projetos .box-projetos .projeto-5 h1 {
  font-size: 36px;
}

section.projetos .box-projetos .mostrar {
  display: block;
}

section.projetos .box-projetos .seta-voltar {
  background-image: url('../image/seta.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 35px;
  height: 35px;
  top: 50%;
  left: 20px;
  transform: rotate(180deg);
  cursor: pointer;
  z-index: 9;
}

section.projetos .box-projetos .seta-avancar {
  background-image: url('../image/seta.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 35px;
  height: 35px;
  top: 50%;
  right: 20px;
  cursor: pointer;
  z-index: 9;
}

@media(max-width: 768px) {
  section.projetos .box-projetos {
    min-width: 80%;
  }
}


 /* Habilidades */

 section.habilidades {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 section.habilidades .box-habilidades {
   width: 70%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 120px;
 }

 section.habilidades .titulo {
  font-family: 'Roboto bold 700';
  font-size: 32px;
  color: #FFE600;
  margin-bottom: 20px;
 }

 section.habilidades .box-tecnologias {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-gap: 10px;
  justify-items: center;
 }

 section.habilidades .tecnologia {
   width: 300px;
   height: 200px;
   border-color: #FFE600;
   border-style: solid;
   border-width: 1px;
 }

 section.habilidades .box-tecnologias i {
   font-size: 50px;
   width: 100%;
   padding: 8px;
 }

 section.habilidades .box-tecnologias h3 {
   padding: 8px;
   color: #ffffff;
 }

 section.habilidades .box-tecnologias p {
   color: #ffffff;
   padding: 8px;
   font-size: 14px;
   text-align: start;
 }

 section.habilidades .box-tecnologias .fa-html5 {
  color: #FA9703;
  text-align: center;
}

 section.habilidades .box-tecnologias .fa-css3-alt {
  color: #03A1FA;
  text-align: center;
}

 section.habilidades .box-tecnologias .fa-js {
  color: #FFE600;
  text-align: center;
}

 section.habilidades .box-tecnologias .fa-react {
  color: #23D675;
  text-align: center;
}

 section.habilidades .box-tecnologias .fa-git-alt {
  color: #CA1D1D;
  text-align: center;
}

 section.habilidades .box-tecnologias .fa-github {
  color: #ffffff;
  text-align: center;
}


 /* Contato */

 section.contato {
   width: 100%;
   height: 60vh;
 }

 section.contato .titulo {
  font-family: 'Roboto bold 700';
  font-size: 32px;
  color: #FFE600;
  text-align: center;
  margin-top: 60px;
 }

 section.contato .box-contato {
   width: 80%;
   height: 40vh;
   display: flex;
   justify-content: space-around;
   align-items: center;
   top: 0;
   left: 0;
   margin: auto;
 }

 section.contato .box-contato .telefone {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 section.contato .box-contato .telefone i, p{
   color: #ffffff;
   padding: 8px;
   text-align: center;
 }

 section.contato i {
   font-size: 50px;
 }

 section.contato .fa-whatsapp-square {
   color: #23D675;
 }

 section.contato .fa-linkedin {
   color: #03A1FA;
 }

 section.contato .fa-github-square {
   color: #ffffff;
 }

 /* footer */

 footer{
   width: 100%;
   padding: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #1E1B1B;
 }

 footer p {
   font-style: italic;
   font-weight: bold;
   color: #FFE600;
 }